<link rel="stylesheet" href="//at.alicdn.com/t/font_637957_98cv8bz3rxo.css" />
<link rel="stylesheet" href="/plugin/jqueryDate/css/datepicker.css" />
<script src="/plugin/Echarts/echarts.common.min.js"></script>
<script src="/plugin/jqueryDate/js/moment.min.js"></script>
<script src="/plugin/jqueryDate/js/datepicker.all.js"></script>

<style>
    .h2_2{
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        margin: 0;
        padding-left: 20px;
        border-bottom: 4px solid #418BB8;
    }
    .statistics_box{
        width:100%;
        background-color: #fff;
        padding-bottom: 30px;
        min-height:600px;
    }
    .statistics_top{
        padding:10px 20px;
        line-height:38px;
    }
    .statistics_top button.active{
        background:#00acd6;
    }
    .iconfont{
        font-size:30px;
    }
    #dataShow{
        box-sizing: border-box;
        height:38px;
       padding:5px;
        color: white;
        text-shadow: none;
        background-color: #d84a38;
        border:none;
    }
    .layerDate{
        position:relative;
        top:2px;
        box-sizing: border-box;
        height:38px;
        padding:5px 5px 5px 35px;
        background:url("/static/image/admin/date.png") no-repeat 0px 0px;
        background-size:35px 35px;
        border:1px solid #bbb;
        cursor:pointer;
        font-size:18px;
    }
    .statistics_smokeTime,.statistics_ranking,.statistics_system,.statistics_time{
        margin:10px 20px;
        width:calc(100%-40px);
        height:450px;
        border:2px solid #418BB8;
    }
    .statistics_ranking{
        height:auto;
    }
    .statistics_smokeTime h3,.statistics_ranking h3,.statistics_system h3,.statistics_time h3{
        display: block;
        padding:10px;
        font-size: 18px;
        line-height: 18px;
        font-weight: 400;
        background-color: #35aa47;
       color:#fff;
    }
    #statistics_1{
        width:100%;
        height:400px;
    }
    .statistics_topRight{
        float:right;
    }
    .statistics_topRight .layui-form-label{
        width:120px;
    }
    .statistics_system{
        min-height:650px;
    }
    .statistics_system_item{
        width:50%;
        float:left;
        min-height:300px;
    }
    .statistics_system_item .pie{
        width:100%;
        height:320px;
    }
    #statistics_6{
        min-height:400px;
    }
    .statistics_content .statistics_time{
        height:auto;
        min-height:500px;
    }
    #productTable{
        width:100%;
        border:1px solid #bbb;
    }
    #productTable tr th,#productTable tr td{
        border:1px solid #aaa;
        text-align:center;
    }
     table thead{
         background-color: #DDDDDD;
     }
    .c-datepicker-date-editor{
        height:38px;
    }
    .c-datepicker-picker [slot=sidebar], .c-datepicker-picker__sidebar{
        width:0;
    }
    .c-datepicker-picker [slot=sidebar]+.c-datepicker-picker__body, .c-datepicker-picker__sidebar+.c-datepicker-picker__body{
        margin:0;
    }
    .dd-table th, td{
        border:none;
    }
    .c-datepicker-date-table th{
        text-align:center;
    }
</style>
<div class="statistics_box">
    <h2 class="statistics_h2 h2_2">统计总览</h2>
    <div class="statistics_content">
        <div class="statistics_top">
            <button  class="layui-btn active" value="7">7天</button>
            <button  class="layui-btn" value="30">30天</button>
            <button  class="layui-btn" value="60">60天</button>
            <button  class="layui-btn" value="90">90天</button>
            <div class="c-datepicker-date-editor  J-datepicker-range-day mt10">
                <i class="c-datepicker-range__icon kxiconfont icon-clock"></i>
                <input placeholder="开始日期" name="" class="c-datepicker-data-input only-date start-day" value="">
                <span class="c-datepicker-range-separator">-</span>
                <input placeholder="结束日期" name="" class="c-datepicker-data-input only-date end-day" value="">
            </div>
            <form class="statistics_topRight layui-form">
                <div class="layui-inline">
                    <label class="layui-form-label">选择分组</label>
                    <div class="layui-input-inline">
                        <select name="modules" lay-verify="required" lay-search="" id="grouping" lay-filter="filter">
                            <option value="0">全部</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div class="statistics_smokeTime">
            <h3>出烟量趋势统计</h3>
                <div id="statistics_1"></div>
        </div>
        <div class="statistics_ranking">
            <h3 style="margin-bottom:10px;">出烟机出烟排名与用户领烟次数统计</h3>
            <table  id="statistics_2" style="margin-left:10px;float:left;"></table>
            <table  id="statistics_5" style="margin-left:10px;float:left;"></table>
        </div>
        <div class="statistics_system clearfix">
            <h3>操作系统及手机品牌趋势统计</h3>
            <div class="statistics_system_left statistics_system_item">
                <div id="statistics_3" class="pie"></div>
                <table  id="systemTable"></table>
            </div>
            <div class="statistics_system_right statistics_system_item">
                <div id="statistics_4" class="pie"></div>
                <table class="layui-hide" id="mobileTable"></table>
            </div>

        </div>
        <div class="statistics_time clearfix">
            <h3>产品对比</h3>
            <div id="statistics_6"></div>
            <table id="productTable">
                <thead>
                </thead>
                <tbody id="product">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(function(){
        //默认显示时间
        var now =new Date(),group_list={$group_list},group_id=null,day= 7,start_day=null,end_day=null;

        $(".start-day").val(getAfterFormatDate(-7))
        $(".end-day").val(getAfterFormatDate(-1))
        localStorage.setItem("start_day",getAfterFormatDate(-7))
        localStorage.setItem("end_day",getAfterFormatDate(-1))
        layui.use(['laydate','form','table'], function(){
            var laydate = layui.laydate,form =layui.form,table=layui.table,str="";
            //laydate.render()
            form.render()

            for(var i in group_list){
                str+='<option value="'+group_list[i].group_id+'">'+group_list[i].group_name+'</option>'
            }
            $("#grouping").append(str)
            form.render()
            //年月日范围
            $('.J-datepicker-range-day').datePicker({
                hasShortcut: true,
                format: 'YYYY-MM-DD',
                isRange: true,
                max:getAfterFormatDate(0),
                hide:function(){
                    start_day =$('.start-day').val()
                    end_day =$(".end-day").val()
                    if(localStorage.getItem("start_day")!=start_day||localStorage.getItem("end_day")!=end_day){
                        $(".statistics_top").find(".active").removeClass("active");
                        var data={
                            start_day:start_day,
                            end_day:end_day,
                            group_id:group_id||0
                        }
                        reloadAll(data)
                    }



                }
            });
            //执行一个laydate实例
//            laydate.render({
//                elem: '#layerDate1', //指定元素
//                range: '~'
//                ,trigger: 'click' //采用click弹出
//                ,max:0,
//                done:function(value,data,endDate){
//                    $(".statistics_top").find(".active").removeClass("active");
//                    start_day =value.split("~")[0]
//                    end_day =value.split("~")[1]
//                    var data={
//                        start_day:start_day,
//                        end_day:end_day,
//                        group_id:group_id||0
//                    }
//                    reloadAll(data)
//                }
//            });
            form.on('select(filter)', function(data){
                group_id =data.value
                var data ={}
                if(start_day){
                    data={
                        start_day:start_day,
                        end_day:end_day,
                        group_id:group_id||0
                    }
                }else{
                    data={
                        day:day,
                        group_id:group_id||0
                    }
                }
                reloadAll(data)
            });
            init()
            function init(){
                //默认显示7天
                echarLine('statistics_1',"/admin/DataView/day_smoke_data");

                tableTel()
                echarpie("statistics_3","/admin/DataView/system_rank",'操作系统统计')
                echarpie("statistics_4","/admin/DataView/model_rank",'手机品牌')
                tableTel2()
                tableTel3()
                tableTel5()
                echarLine2('statistics_6',"/admin/DataView/goods_data");
            }

            //时间切换
            $(".statistics_top").on("click","button",function(){
                if($(this).hasClass("active")){
                    return;
                }
                var value=$(this).attr("value");
                day=value;
                start_day=null;
                $(this).addClass("active").siblings("button").removeClass("active");
//                $("#layerDate1").attr("placeholder",getAfterFormatDate(-value)+"~"+getAfterFormatDate(-1))
                $(".start-day").val(getAfterFormatDate(-value))
                $(".end-day").val(getAfterFormatDate(-1))
                localStorage.setItem("start-day",getAfterFormatDate(-value))
                localStorage.setItem("end-day",getAfterFormatDate(-1))
                var data={
                    day:day,
                    group_id:group_id||0
                }
                reloadAll(data)
            })
            function reloadAll(data){
                echarLine('statistics_1',"/admin/DataView/day_smoke_data",data);
                reload('tableId',data,"/admin/DataView/machine_smoke_data")
                reload('tableId2',data,"/admin/DataView/system_rank","page")
                reload('tableId3',data,"/admin/DataView/model_rank")
                reload('tableId5',data,"/admin/DataView/user_smoke_data")
                echarpie("statistics_3","/admin/DataView/system_rank",'操作系统统计',data)
                echarpie("statistics_4","/admin/DataView/model_rank",'手机品牌',data)
                echarLine2('statistics_6',"/admin/DataView/goods_data",data);
            }
            function tableTel(){
                table.render({
                    elem: '#statistics_2'
                    ,url:'/admin/DataView/machine_smoke_data'
                    ,limit:10
                    ,cols: [[
                        {type:'numbers',title:"名次",width:100},
                        {field:'eq_code', width:150, title: '机器号',align:'center'}
                        ,{field:'group_name', width:200, title: '分组名',align:'center'}
                        ,{field:'number', width:150, title: '数量',align:'center'}
                        ,{field:'peg', title: '店铺标识', minWidth: 195,align:'center'}
                    ]]
                    ,page:{layout:false,groups:5,heme:'#367AB7',first:false
                        ,last:false,prev:'<em>Previous</em>',next:'<em>Next</em>'}
                    ,response:{
                        statusName:'status',
                        dataName:'info',
                        statusCode:1,
                        countName:'count'
                    },
                    width:795,
                    height:475,
                    method:'get',
                    id:'tableId',
                    done:function(){
                        $("#statistics_2").next(".layui-table-view").css({"float":"left","margin":"0 10px"});
                        $("#statistics_2").next(".layui-table-view").find(".layui-table-body.layui-table-main").height("391px").css("overflow-x","hidden");
                    }
                });
            }
            function tableTel5(){
                table.render({
                    elem: '#statistics_5'
                    ,url:'/admin/DataView/user_smoke_data'
                    ,limit:10
                    ,cols: [[
                        {type:'numbers',title:"名次", width:100},
                        {field:'nickname', width:200, title: '昵称',align:'center'}
                        ,{field:'city', width:200, title: '城市',align:'center'}
                        ,{field:'phone', width:150, title: '手机号',align:'center'}
                        ,{field:'number', title: '次数', width: 145,align:'center'}
                    ]]
                    ,page:{layout:false,groups:5,heme:'#367AB7',first:false
                        ,last:false,prev:'<em>Previous</em>',next:'<em>Next</em>'}
                    ,response:{
                        statusName:'status',
                        dataName:'info',
                        statusCode:1,
                        countName:'count'
                    },
                    width:795,
                    height:475,
                    method:'get',
                    id:'tableId5',
                    done:function(){
                        $("#statistics_5").next(".layui-table-view").css('margin-left','10px').find(".layui-table-body.layui-table-main").height("391px").css("overflow-x","hidden");
                    }
                });
            }
            function tableTel3(){
                table.render({
                    elem: '#mobileTable'
                    ,url:'/admin/DataView/model_rank'
                    ,limit:5
                    ,cols: [[
                        {type:'numbers',title:"名次",width:50},
                        {field:'name', width:150, title: '操作系统',align:'center'}
                        ,{field:'value', width:150, title: '次数',align:'center'}
                    ]]
                    ,page:{layout:false,groups:5,heme:'#367AB7',first:false
                        ,last:false,prev:'<em>Previous</em>',next:'<em>Next</em>'}
                    ,response:{
                        statusName:'status',
                        dataName:'page',
                        statusCode:1,
                        countName:'count'
                    },
                    width:350,
                    height:275,
                    method:'get',
                    id:'tableId3',
                    done:function(){
                        $("#mobileTable").next(".layui-table-view").css("margin","0 auto").find(".layui-table-body.layui-table-main").height("196px").css("overflow-x","hidden");
                    }
                });
            }
            function tableTel2(){
                table.render({
                    elem: '#systemTable'
                    ,url:'/admin/DataView/system_rank'
                    ,cols: [[
                        {type:'numbers',title:"名次",width:50},
                        {field:'name', width:150, title: '操作系统',align:'center'}
                        ,{field:'value', width:150, title: '次数',align:'center'}
                    ]]
                    ,page:false
                    ,response:{
                        statusName:'status',
                        dataName:'info',
                        statusCode:1
                    },
                    width:350,
                    height:160,
                    method:'get',
                    id:'tableId2',
                    done:function(){
                        $("#systemTable").next(".layui-table-view").css("margin","0 auto").find(".layui-table-body.layui-table-main").height("120px").css("overflow-x","hidden");
                    }
                });
            }
            //表格重新渲染
            function reload(id,data,url,page){
                if(page){
                    page=false;
                }else{
                    page={layout:false,groups:5,heme:'#367AB7',first:false
                        ,last:false,prev:'<em>Previous</em>',next:'<em>Next</em>',curr:1}
                }
                table.reload(id,{
                    url:url,page:page,where:data||{}
                });
            }
            //饼状图表
            function echarpie(id,url,title,data){
                if(!data){
                    data={
                        day:7,
                        group_id:group_id||0
                    }
                }
                var myChart = echarts.init(document.getElementById(id));
                myChart.showLoading();
                $.ajax({
                    type:"get",
                    url:url,
                    data:data,
                    success:function(res){
                        // 指定图表的配置项和数据
                        myChart.hideLoading();
                        var legendData=[];
                        if(res.count>0){
                            for(var q in res.info){
                                legendData.push(res.info[q].name)
                            }

                        }else{
                            legendData=["暂无数据"];
                            res.info=[{name:"暂无数据",value:0}]
                        }
                        var option = {
                            title : {
                                text: title,
                                x:'center'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: '{b} : {c} ({d}%)'
                            },
                            legend: {
                                type:'scroll',
                                orient: 'vertical',
                                left: 30,
                                top:50,
                                data: legendData
                            },
                            series: [{
                                name: '操作系统',
                                type: 'pie',
                                radius : '55%',
                                center: ['50%', '60%'],
                                data: res.info,
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }, normal: {
                                        label: {
                                            show: true,
                                            formatter: '{b} : {c} ({d}%)'
                                        },
                                        labelLine: { show: true }
                                    }
                            }
                            }]
                        };

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);

                    },
                    error:function(err){
                        alert(JSON.stringify(err))
                    }
                })

            }
            //折线图表
            function echarLine(id,url,data){
                if(!data){
                    data={
                        day:7,
                        group_id:group_id||0
                    }
                }
                var myChart = echarts.init(document.getElementById(id));
                myChart.showLoading();
                $.ajax({
                    type:"get",
                    url:url,
                    data:data,
                    success:function(res){
                        // 指定图表的配置项和数据
                        myChart.hideLoading();
                        var option = {
                            tooltip: {},
                            legend: {
                                data:['领烟时间']
                            },
                            xAxis: {
                                data: res.day_list,
                                offset:0,
                                boundaryGap:true,
                                axisLabel:{
                                    rotate:10,
                                    width:50,
                                    alignWithLabel:true
                                },
                                nameTextStyle:{
                                    color:"#f00",
                                    fontWeight:100,
                                    fontSize:20,
                                    align:'',
                                    verticalAlign:'bottom',
                                    width:20
                                },
                            },
                            yAxis: {
                            },
                            series: [{
                                name: '领烟数量',
                                type: 'line',
                                data: res.count_list
                            }]
                        };

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);

                    },
                    error:function(err){
                        alert(JSON.stringify(err))
                    }
                })

            }
            function echarLine2(id,url,data){
                if(!data){
                    data={
                        day:7,
                        group_id:group_id||0
                    }
                }
                var myChart = echarts.init(document.getElementById(id));
                myChart.showLoading();
                $.ajax({
                    type:"get",
                    url:url,
                    data:data,
                    success:function(res){
                      //产品对比统计表格
                        $("#productTable thead").empty();
                        $("#product").empty();
                        var str='<tr>'
                            +'<th rowspan="2">'+'产品'+'</th>'+
                            '<th colspan="'+res.time.length+'">'+'时间段'+'</th>'+
                        '</tr><tr>';
                        if(res.page){
                       for(var i=0;i<res.time.length;i++){
                           str+= '<th>'+res.time[i]+'</th>'
                       }
                            str+="</tr>";
                    }else{
                            str+='<tr><th colspan="2">暂无数据</th></tr>'
                        }


                        $("#productTable thead").append(str)

                        var str2="";
                        for(var i=0;i<res.page.length;i++){
                            str2+='<tr>'
                            $.each(res.page[i],function(i,value){
                                str2+='<td>'+value+'</td>'
                            })
                            str2+='</tr>'
                        }
                        $("#product").append(str2)
                        // 指定图表的配置项和数据
                        myChart.hideLoading();
                        if(!res.page){
                            res.goods=["暂无数据"]
                            res.time=["暂无数据"]
                            res.info={name:"暂无数据",data:[0]}
                        }
                        option = {
//                            title: {
//                                text: '产品对比'
//                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                data:res.goods
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                containLabel: true
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                data: res.time
                            },
                            yAxis: {
                                type: 'value'
                            },
                            series:res.info
                        };

                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option);

                    },
                    error:function(err){
                        alert(JSON.stringify(err))
                    }
                })

            }

        });
    })
    //获取前几天的时间段
    function getAfterFormatDate (days) { // 如果需要计算当前的日期 传 0 即可 (此例是考虑时分秒的情况)
        let dd = new Date()
        dd.setDate(dd.getDate() + days) // 获取days天后的日期
        let y = dd.getFullYear()
        let m = (dd.getMonth() + 1) < 10 ? ('0' + (dd.getMonth() + 1)) : (dd.getMonth() + 1)
        let d = dd.getDate() < 10 ? ('0' + dd.getDate()) : dd.getDate()
        let hour = dd.getHours() < 10 ? ('0' + dd.getHours()) : dd.getHours()
        let min = dd.getMinutes() < 10 ? ('0' + dd.getMinutes()) : dd.getMinutes()
        let second = dd.getSeconds() < 10 ? ('0' + dd.getSeconds()) : dd.getSeconds()
        return y + '-' + m + '-' + d
    }

</script>
