<style>
    body,html,ul,li{
        margin:0;
        padding:0;
    }
    ul{
        list-style:none;
    }
    .banner_box{
        width:98%;
        margin:0 auto;
    }
    .banner_h2{
        height:60px;
        line-height:60px;
        font-size:24px;
        margin:0;
        border-bottom: 4px solid #418BB8;
    }
    .h2_2{
        height:80px;
        line-height:80px;
        border-bottom:4px solid #D2D5DE;
    }
    .banner_content{
        background-color:#fff;
    }
    .banner_content h3{
        font-size:20px;
        color:#6A6A6A;
        height:54px;
        line-height:54px;
        border-bottom:1px solid #F1F1F1;
        padding-left:10px;
        margin:0;
    }
    .banner_content ul.banner_content_ul{
        margin:0;

        padding:0 0 30px 0;
        list-style:none;
    }
    .banner_content ul li{
        position:relative;
        float:left;
        width:calc((100% - 90px) / 3);
        height:300px;
        margin:20px 15px 0;
        border:1px solid #f1f1f1;
    }
    .banner_title_box{
        width:100%;
        height:54px;
        border-bottom: 1px solid #f1f1f1;
    }
    .banner_title_content{
        width:85%;
        margin:0 auto;
        height:100%;
        line-height:54px;
    }
    .banner_title_content span{
        float:left;
        color:#9B9A9F;
    }
    .banner_title_content div{
        width:145px;
        height:32px;
        border:1px solid #f1f1f1;
        line-height:32px;
        margin:11px 0;
        font-size:14px;
        float:right;
        border-radius:10px;
    }
    .banner_title_content div button{
        border:none;
        float:left;
        height:100%;
        width:50%;
        line-height:30px;
        text-align:center;
    }
    .banner_title_content div button:nth-child(1){
        background:#F4F4F4;
        border-radius:10px 0 0 10px;
        color:#939393;
    }
    .banner_title_content div button:nth-child(2){
        background:#DFDFDF;
        border-radius:0 10px 10px 0;
        color:#fff;
    }
    .bannerImg_box,.bannerImg_emport{
        position:relative;
        margin:10px auto;
        border:1px solid #fff;
        display:block;
        width:350px;
        height:225px;
    }
    .bannerImg_box img{
        width:100%;
        height:100%;
    }
    .bannerImg_hover{
        display:none;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(0,0,0,.7);
    }
    .bannerImg_emport{
        background:#ECEDF1;
        color:#fff;
        font-size:50px;
        text-align:center;
        position:relative;
        line-height:4.5;
    }
    .bannerImg_emport input{
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
        opacity: 0;
    }
    .bannerImg_box:hover .bannerImg_hover{
        display:block;
    }
    .bannerImg_hover ul{
        width:50%;
        height:20%;
        margin:25% 25% 0;
        color:#fff;
    }
    .bannerImg_hover ul li{
        cursor:pointer;
        height:100%;
        width:50%;
        line-height:20%;
        text-align:center;
        border:none;
        font-size:12px;
        margin:0;
    }
    .bannerImg_hover ul li span{
        display:block;
        height:24px;
        line-height:24px;
        margin-top:5px;
    }
    .bannerImg_hover ul li:nth-child(2){
        float:right;
    }
    .bannerImg_hover ul li .hoverI{
        cursor:pointer;
        position:relative;
        display:block;
        width:48px;
        height:48px;
        margin:0 auto;
        background: url("/static/image/admin/cssprise.png") 0 -50px no-repeat;
    }
    .bannerImg_hover ul li .hoverI input{
        position:absolute;
        cursor:pointer;
        opacity:0;
        width:100%;
        height:100%;
        top:0;
        left:0;
        border:1px solid #bbb;
    }
    .bannerImg_hover ul li i.delete{
        background: url("/static/image/admin/cssprise.png") 0 0 no-repeat;
    }
    .stop_title,.p_budate{
        padding-left:15px;
        font-size:18px;
        font-family:"Arial";
        line-height:80px;
    }

    .stop_title input{
        width:80px;
        height:30px;
        line-height:40px;
        border:1px solid #bbb;
        border-radius:10px;
        margin:0 15px 0 60px;
        padding-left:15px;

    }
    /*input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }*/
    .p_budate{
        height:80px;
        line-height:40px;
    }
    #update{
        margin-left:120px;
        border:none;
        background:#3C8DBC;
        color:#fff;
        text-align:center;
        height:40px;
        line-height:40px;
        border-radius:10px;
        padding:0 40px;
    }
</style>
<div class="banner_box">
    <h2 class="banner_h2">广告轮播页面</h2>
    <div class="banner_content">
        <h3>请上传需要展示的广告图片</h3>
        <ul class="clearfix banner_content_ul">
            <li>
                <div class="banner_title_box">
                    <div class="banner_title_content">
                        <span>广告1</span>
                        <div>
                            <button>隐藏</button>
                            <button>显示</button>
                        </div>

                    </div>
                </div>
                <div class="bannerImg_box">
                    <img class="banner_img" src="/static/image/admin/banner_img1.jpg" alt="">
                    <div class="bannerImg_hover">
                        <ul>
                            <li> <i class="hoverI replace"><input type="file"></i> <span>替换图片</span></li>
                            <li><i class="hoverI delete"></i> <span>删除图片</span></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner_title_box">
                    <div class="banner_title_content">
                        <span>广告1</span>
                        <div>
                            <button>隐藏</button>
                            <button>显示</button>
                        </div>

                    </div>
                </div>
                <div class="bannerImg_box">
                    <img class="banner_img" src="/static/image/admin/banner_img1.jpg" alt="">
                    <div class="bannerImg_hover">
                        <ul>
                            <li> <i class="hoverI replace"><input type="file"></i> <span>替换图片</span></li>
                            <li><i class="hoverI delete"></i> <span>删除图片</span></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner_title_box">
                    <div class="banner_title_content">
                        <span>广告1</span>
                        <div>
                            <button>隐藏</button>
                            <button>显示</button>
                        </div>

                    </div>
                </div>
                <div class="bannerImg_box">
                    <img class="banner_img" src="/static/image/admin/banner_img1.jpg" alt="">
                    <div class="bannerImg_hover">
                        <ul>
                            <li> <i class="hoverI replace"><input type="file"></i> <span>替换图片</span></li>
                            <li><i class="hoverI delete"></i> <span>删除图片</span></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner_title_box">
                    <div class="banner_title_content">
                        <span>广告1</span>
                        <div>
                            <button>隐藏</button>
                            <button>显示</button>
                        </div>

                    </div>
                </div>
                <div class="bannerImg_box" style="display:none;">
                    <img class="banner_img" src="/static/image/admin/banner_img1.jpg" alt="">
                    <div class="bannerImg_hover">
                        <ul>
                            <li> <i class="hoverI replace"><input type="file"></i> <span>替换图片</span></li>
                            <li><i class="hoverI delete"></i> <span>删除图片</span></li>
                        </ul>
                    </div>
                </div>
                <div class="bannerImg_emport">
                        +<input type="file">
                </div>
            </li>
            <li>
                <div class="banner_title_box">
                    <div class="banner_title_content">
                        <span>广告1</span>
                        <div>
                            <button>隐藏</button>
                            <button>显示</button>
                        </div>

                    </div>
                </div>
                <div class="bannerImg_box" style="display:none;">
                    <img class="banner_img" src="/static/image/admin/banner_img1.jpg" alt="">
                    <div class="bannerImg_hover">
                        <ul>
                            <li> <i class="hoverI replace"><input type="file"></i> <span>替换图片</span></li>
                            <li><i class="hoverI delete"></i> <span>删除图片</span></li>
                        </ul>
                    </div>
                </div>
                <div class="bannerImg_emport">
                    +<input type="file">
                </div>
            </li>
            <li>
                <div class="banner_title_box">
                    <div class="banner_title_content">
                        <span>广告1</span>
                        <div>
                            <button>隐藏</button>
                            <button>显示</button>
                        </div>

                    </div>
                </div>
                <div class="bannerImg_box" style="display:none;">
                    <img class="banner_img" src="/static/image/admin/banner_img1.jpg" alt="">
                    <div class="bannerImg_hover">
                        <ul>
                            <li> <i class="hoverI replace"><input type="file"></i> <span>替换图片</span></li>
                            <li><i class="hoverI delete"></i> <span>删除图片</span></li>
                        </ul>
                    </div>
                </div>
                <div class="bannerImg_emport">
                    +<input type="file">
                </div>
            </li>
        </ul>
    </div>
    <h2 class="banner_h2 h2_2">广告轮播控制</h2>
    <div class="banner_content">
        <h3>请设置广告显示时间</h3>
        <div class="content_control">
            <p class="stop_title">每页停留时间 <input type="number" value="8" min="1" max="120">秒</p>
        </div>
        <p class="p_budate"> <button id="update">保存更新</button></p>
    </div>
</div>
