<link rel="stylesheet" href="/plugin/bootstrap-treeview/bootstrap-treeview.min.css" >
<div id="main_1511010745" class="box box-body" >
    <!-- 工具栏与搜索框 -->
    <div class="row">
        <div class="col-md-8 dd-toolbar"></div>
        <div class="col-md-4 dd-search">
            <!-- 快捷搜索表单 -->
            <form class="dd-quick input-group"></form>
        </div>
    </div>
    <div class="row dd-table"></div><!-- 表格 -->
</div>
<!-- 添加与编辑表单 -->
<form id="form_1511010745" class="dd-form" style="display:none">
    <div>名称<input name="name" /></div>
    <div>备注<textarea name="remark"></textarea></div>
</form>
<!-- 权限配置 -->
<form id="form_power_1511010745" class="form-horizontal" style="display:none">
   <div class="form-group">
        <div id="tree"></div>
   </div>
</form>
<script type="text/javascript" src="/plugin/bootstrap-treeview/bootstrap-treeview.min.js"></script>
<?php get_js() ?>