<div id="import_1522139942" class="btn-group">
    <button id="btn_import_1511519312" type="button" class="btn btn-success btn-flat" onclick="document.getElementById('import_file_152220712032308683193523561696').click();">
    <i class="fa fa-arrow-up"></i> 选择文件</button><input type="file" name="file" id="import_file_152220712032308683193523561696" style="display:none">
    <a class="btn btn-success btn-flat" href="/temp/data/admin.xls">下载模板</a>
</div>
<div id="main_1522139942" style="margin:0;display: none">
    <div class="row dd-table"></div><!-- 表格 -->
</div>
<script type='text/javascript'>
    $.m.common_importPreview={};
    $(function (){
        $.extend($.m.commin_importPreview,{
            dd:new Dd({
                table:{
                    cols:{$fields},
                },
                params:{
                    id:'main_1522139942',
                    url:'{$url}'
                }
            })
        })
        
        var modal_id = $.f.modal.create({
            obj:$('#main_1522139942'),   //加载内容jq对象
            title:'数据预览', //标题
            size:2,  //1.小，2.中 ,3.大
            btn:[],  //配置参考 d_btn_conf
            d_btn:{  //默认按钮 不需要是填 close:null
                close:{
                    is_warn:false //关闭时是否警告
                }
            }
        });


    });
</script>