<script src="/plugin/Echarts/echarts.common.min.js"></script>
<style>
  .small-box>.inner{
    padding-bottom:30px;
  }
  .statistics_smokeTime,.statistics_position{
    margin:10px 20px;
    width:calc(100%-40px);
    height:450px;
    border:2px solid #418BB8;
  }
  .statistics_position{
    min-height:542px;
  }
  .statistics_smokeTime h3,.statistics_position h3{
    display: block;
    padding:10px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    background-color: #35aa47;
    color:#fff;
  }
  #statistics_1{
    width:100%;
    height:400px;
  }
  #container{
    width:100%;
    height:500px;
  }
  /*.section{*/
    /*margin-bottom:50px;*/
  /*}*/
</style>
<div style="padding: 15px 20px 0 20px">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{$smoke_count}</h3>

              <p>今日领烟数量</p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>

          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{$member_count}</sup></h3>

              <p>今日领烟用户数量</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{$online_eq}</h3>

              <p>当前在线机器</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{$sum}</h3>

              <p>累计出烟数量</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row section">
        <div class="statistics_smokeTime">
          <h3>出烟量趋势统计</h3>
          <div id="statistics_1"></div>
        </div>
        <div class="statistics_position">
          <h3>出烟机地理分布</h3>
          <div id="container" ></div>
        </div>
      </div>

</div>
</div>
<script>
  $(function(){
    echarLine('statistics_1',"/group/DataView/day_smoke_data");
    queryAllRetailer()
    function queryAllRetailer() {
      //获取零售户信息
      $.ajax({
        type:"post",
        url:"/group/DataView/shop_coordinate",
        cache:false,
        async: false,
        dataType:"json",
        success:function(jsons){
          if (jsons.info) {
            createMarker(jsons.info);
          }
        }
      });
    }
    var map,marker = null;
    //根据获取到的经纬度生成标签
    function createMarker(jsons){
      var center = new qq.maps.LatLng(23.12704,113.34127);
      var map = new qq.maps.Map(document.getElementById("container"),{
        center : center,
        zoom : 15,
        mapTypeControlOptions : {
          //设置控件的地图类型ID，ROADMAP显示普通街道地图，SATELLITE显示卫星图像，HYBRID显示卫星图像上的主要街道透明层
          mapTypeIds : []
        },
        zoomControl:false,
        panControl : false,
        scaleControl : false
      });
      //获取城市列表接口设置中心点
//	var iplat ,iplng = null;
//    citylocation = new qq.maps.CityService({
//        complete : function(result){
//            map.setCenter(result.detail.latLng);
//        }
//    });
      //调用searchLocalCity();方法    根据用户IP查询城市信息。
//    citylocation.searchLocalCity();

      var info = new qq.maps.InfoWindow({
        map : map
      });
      qq.maps.event.addListener(map, 'click', function() {
        info.close();
      });
      var anchor = new qq.maps.Point(13, 25),
              size = new qq.maps.Size(25, 25),
              origin = new qq.maps.Point(0, 0),
              scaleSize = new qq.maps.Size(25, 25),
              icon = new qq.maps.MarkerImage(
                      "/static/image/admin/sxmarker.png",
                      size,
                      origin,
                      anchor,
                      scaleSize
              );
      var markers = new qq.maps.MVCArray();
      var markerCluster;
      for(var j=0;j<jsons.length;j++){
        (function(n){
          var latlon = new qq.maps.LatLng(jsons[n].latitude, jsons[n].longitude);
          var marker = new qq.maps.Marker({
            position : latlon,
            map : map
          });
          var	json = jsons[n];
//                var brandIds = json.group_id;
//                var brandId;
//                if(brandIds){
//                    brandId = brandIds.split(",");
//                }
//                if(json.sxActivityId!=''&&json.sxActivityId!=null){
//                    var icon1 = new qq.maps.MarkerImage(
//                            "/Uploads/Retailer/Original/"+json.icoimg,
//                            size,
//                            origin,
//                            anchor,
//                            scaleSize
//                    );
//                    marker.setIcon(icon1);
//                }else{
          marker.setIcon(icon);
//                }
          markers.push(marker);
          var listener = qq.maps.event.addListener(marker,'click',function() {
            var con = '<div style="width:250px;height:70px;">'+
                    '<div class="map_add" >'+
                    '<div class="user_pic" style="width:100px;height:100px;float:left;"><img style="width:100px;height:100px;"src="https://gdzy.zonma.net/Uploads/Retailer/Original/20170920/59c28229a6b9b.jpg"/></div>'+
                    '<dl style="width:140px;float：left;display:inline-block;margin-left:8px;"'+
                    '<dt>'+json.shop_name+'</dt>'+
                    '<dd class="tel_num">'+json.duty_name+'</dd>'+
                    '<dd class="add_txt">'+json.city+json.district+json.address+'</dd>'+
                    '</dl>'+
                    '</div>';
            info.open();
            info.setContent(con);
            info.setPosition(latlon);
          });
        })(j);
      }
      //点聚合
      markerClusterer = new qq.maps.MarkerCluster({
        map:map,
        minimumClusterSize:3, //默认2
        markers:markers,
        zoomOnClick:true, //默认为true
        gridSize:30, //默认60
        averageCenter:true, //默认false
        maxZoom:18 //默认18
      });
    }
    function echarLine(id,url,data){
      if(!data){
        data={
          day:7
        }
      }
      var myChart = echarts.init(document.getElementById(id));
      myChart.showLoading();
      $.ajax({
        type:"get",
        url:url,
        data:data,
        success:function(res){
          // 指定图表的配置项和数据
          myChart.hideLoading();
          var option = {
            tooltip: {},
            legend: {
              data:['领烟时间']
            },
            xAxis: {
              data: res.day_list,
              offset:0,
              boundaryGap:true,
              axisLabel:{
                rotate:10,
                width:50,
                alignWithLabel:true
              },
              nameTextStyle:{
                color:"#f00",
                fontWeight:100,
                fontSize:20,
                align:'',
                verticalAlign:'bottom',
                width:20
              },
            },
            yAxis: {
            },
            series: [{
              name: '领烟数量',
              type: 'line',
              data: res.count_list
            }]
          };

          // 使用刚指定的配置项和数据显示图表。
          myChart.setOption(option);

        },
        error:function(err){
          alert(JSON.stringify(err))
        }
      })

    }
  })
</script>