<style>
    .question_h2{
        color: #333;
        background-color: #f5f5f5;
        border:1px solid #ddd;
        font-size:14px;
        padding-left:30px;
        padding-bottom: 0;
        padding-top: 0;
        line-height: 40px;
        height: 40px;
    }
    .question_box{
        width:100%;
        height:100%;
        border:1px solid #ddd;
    }
    .box-content{
        margin-top: 20px;
        padding-right: 20px;
        padding-left: 20px;

    }
    .mini{
        height: 13px;
        font-size: 11px !important;
        line-height: 13px;
        padding: 4px 10px;
        box-sizing: content-box;
        margin:0 15px;
    }
    .btn.yellow {
        float:left;
        color: white;
        text-shadow: none;
        background-color: #ffb848;
    }
    .mini:hover{
        background-color: #eca22e;
        color: #fff;
    }
    .layui-table-cell{
        padding:0;
    }
    .btn.blue {
        color: white;
        text-shadow: none;
        background-color: #4d90fe;
    }
    .btn.red {
        color: white;
        text-shadow: none;
        background-color: #d84a38;
    }
    .btn.blue:hover{
        background-color: #0362fd !important;
        color: #fff !important;
    }
    .btn.red:hover{
        background-color: #bb2413 !important;
        color: #fff !important;
    }
    [class^="icon-"] {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin-top: 1px;
        line-height: 14px;
        vertical-align: text-top;
        background-image: url("/static/image/admin/glyphicons-halflings.png");
        background-position: 14px 14px;
    }
    .icon-trash {
        background-position: -456px 0;
    }
    .icon-pencil {
        background-position: 0 -72px;
    }
    .btn.green {
        color: white;
        text-shadow: none;
        background-color: #35aa47;
    }
    .btn.green:hover{
        background-color: #1d943b !important;
        color: #fff !important;
    }
    .xdsoft_datetimepicker xdsoft_noselect xdsoft_{
        display:none;
    }
    /*.layui-table-body{
        overflow:hidden;
    }*/
</style>
<div class="content_box clearfix">
    <h2 class="question_h2">问卷列表</h2>
    <div class="question_box clearfix">
        <div class="box-content">
            <table class="layui-hide" id="questTable" lay-filter="questBtn"></table>
        </div>
    </div>
</div>
<script type="text/html" id="operateTel">
    {{#  if(d.status ===1){ }}
    <a  class="btn mini yellow" href="/group/admin/index#group/question/statisticsView?id={{d.id}}" target="_blank">调查统计</a>
    <a href="javascript:void(0)" style="color: #005580;float:left;">http://gzh.zonma.net/mobile/question/index?id={{d.id}}</a>
    {{#  } else{ }}
    <!--href="/admin/admin/index#admin/question/addView?id={{d.id}}"-->
    <a  lay-event="edit" class="btn mini blue edit" data_id="244"><i class="icon-pencil"></i> 编辑</a>
    <a href="javascript:void(0)" lay-event="del" class="btn mini red delete_wj delete"  data_id="244"><i class="icon-trash"></i> 删除</a>
    {{#  } }}
</script>
<script type="text/html" id="statusTel">
    {{#  if(d.status ===0){ }}
    <a href="javascript:void(0)" class="btn mini green fabu" data_id="{{d.id}}">发布</a>
    {{#  } else{ }}
    <span>已发布</span>
    {{#  } }}
</script>
<script>
    $(function(){
        $(".xdsoft_datetimepicker.xdsoft_noselect.xdsoft_").remove();
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#questTable'
            ,url:'/group/question/lists'
            ,cellMinWidth: 100
            ,cols: [[
                {field:'title', title: '问卷标题',align:"center",width:145}
                ,{field:'begin_time',  title: '开始时间',width:170,align:"center" }
                ,{field:'end_time',  title: '结束时间',width:170,align:"center"}
                ,{field:'status', title: '问卷状态',width:80,align:"center",templet:"#statusTel"}
                ,{field:'create_time',  title: '创建时间',width:170,align:"center"}
                ,{field:'id',  title: '操作',toolbar:'#operateTel',align:"center",minWidth:300}
            ]]
            ,page:{layout:false,groups:5,heme:'#367AB7'}
            ,response:{
                statusName:'status',
                statusCode:1,
            },
            id:'tableId',
            height:487,
            done:function(){
                $(".layui-table-body.layui-table-main").height("408px");
            }
        });
        //删除
        table.on('tool(questBtn)',function(obj){
            var data =obj.data;
            if(obj.event==='del'){
                layer.confirm("执行删除后将无法恢复，确定继续吗？",{title:"温馨提示"},function(index){
                    $.ajax({
                        type:"get",
                        dataType:"json",
                        url:"/group/question/del",
                        data:{id:data.id},
                        success:function(respone){
                            if(respone.status==1){
                                obj.del();
                                table.reload("tableId",{
                                    url:"/group/question/lists",page:{curr:1}
                                })
                                layer.close(index);
                            }
                        }

                    })
                })
            }else if(obj.event==="edit"){
                $.f.localLoad("group/question/addView?id="+data.id);
            }
        })
        //发布
        $(".box-content ").on("click",".fabu",function(e){
            e.preventDefault();
            var that =$(this);
            var questionId =$(this).attr("data_id");
            layer.confirm("确定要发布吗?",{title:"温馨提示"},function(index){
                $.ajax({
                    type:"get",
                    dataType:"json",
                    url:"/group/question/release",
                    data:{id:questionId},
                    success:function(respone){
                        if(respone.status==1){
                            layer.open({
                                content:"发布成功",
                                closeBtn:0,
                                time:5000,
                                btn:"确定",
                                btnAlign:"c",
                                end:function(){
                                    layer.close(index);
                                }
                            })
                            table.reload("tableId",{
                                url:"/group/question/lists",page:{curr:1}
                            })

                        }
                    }
                })
            })
        })
    });
    })
</script>