html,body{
    background:#ECF0F5;
}
h2{
    font-size:0.45rem;
    color:#000;
    line-height:0.8rem;
    font-weight:bold;
}
h3{
    font-size:0.4rem;
}
label{
    font-weight:500;
}
.container{
    width:100%;
    height:100%;
}
ul{
    width:100%;
}
.clearfix:after{
    display:table;
    content:"";
    overflow:hidden;
    height:0;
    clear:both;
}
body .layui-m-layerbtn span{
    font-size:0.45rem;
}
[data-dpr="1"] .layui-m-layersection .layui-m-layerchild{
    font-size: 16px;
}
[data-dpr="2"] .layui-m-layersection .layui-m-layerchild{
    font-size: 32px;
}
[data-dpr="3"] .layui-m-layersection .layui-m-layerchild{
    font-size: 48px;
}
body .layui-m-layer0 .layui-m-layerchild{
    max-width:1000px;
}
body .layui-m-layerbtn{
    height:0.8rem;
    line-height:0.8rem;
}
[data-dpr="1"] .layui-m-layercont,[data-dpr="1"] .layui-m-layerbtn span{
    font-size: 16px;
}
[data-dpr="2"] .layui-m-layercont,[data-dpr="2"] .layui-m-layerbtn span{
    font-size: 32px;
}
[data-dpr="3"] .layui-m-layercont,[data-dpr="3"] .layui-m-layerbtn span{
    font-size: 48px;
}