<div id="main_1511010745" class="box box-body" style="margin:0">
    <!-- 工具栏与搜索框 -->
    <div class="row">
        <div class="col-md-8 dd-toolbar"></div>
        <div class="col-md-4 dd-search">
            <!-- 快捷搜索表单 -->
            <form class="dd-quick input-group"></form>
            <!-- 更多搜索 -->
            <form class="dd-more form-inline">
                <div>开始<input name="start_time"></div>
                <div>结束<input name="end_time"></div>
            </form>
        </div>
    </div>
    <div class="row dd-table"></div><!-- 表格 -->
</div>
<?php get_js(); ?>