<link rel="stylesheet" href="//at.alicdn.com/t/font_637957_w7jnwwgwmck.css">
<style>
    .h2_2{
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        margin: 0;
        padding-left: 20px;
        border-bottom: 4px solid #418BB8;
    }
    .product_box{
        background-color: #fff;
        padding-bottom: 30px;
        min-height:600px;
    }
    .form-control{
        margin:20px 0;
    }
    .input-grounp span {
        position: absolute;
        top: 21px;
        right: 16px;
        display: inline-block;
        background-color: #fff;
        width: 28px;
        height: 32px;
        border: none;
        outline: none;
        cursor: pointer;
        line-height: 32px;
        padding-left: 4px;
    }
    #addButton{
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        display: inline-block;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        background-color: #00b2f4;
        border:none;
        margin:20px 50px ;
        float:right;
    }
    .product_content_fun{
        border-bottom:1px solid #dee3ea;
    }
    .product_list{
        padding:20px 0;
        width:100%;
        height:100%;
    }
    #pagination{
        text-align:center;
    }
    .producr_item{
        float: left;
        margin-left: calc((100% - 1000px)/6);
        margin-bottom: 20px;
        position: relative;
    }
    .priduct_image{
        width: 200px;
        height: 200px;
        background-color: #f2f2f2;
        border: 4px solid #dff0fd;
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        cursor: pointer;
    }
    .priduct_image img{
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .product_hover{
        width: 200px;
        height: 200px;
        position: absolute;
        top: 0;
        background-color: rgba(255,255,255,.5);
        text-align: center;
        display:none;
    }
    .product_hover a{
        width: 50px;
        height: 50px;
        margin-top: 75px;
        cursor: pointer;
        display:inline-block;
        background:#337ab7;
        border-radius:50%;
        margin-right:10px;
    }
   .producr_item:hover .product_hover{
       display:block;
   }
    .product_info{
        padding: 5px;
        text-align: center;
        font-size: 18px;
        line-height:34px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 200px;
    }
</style>
<div class="product_box">
    <h2 class="product_h2 h2_2">产品列表</h2>
    <div class="product_content">
        <div class="product_content_fun clearfix">
            <div class="input-grounp pull-left col-xs-4">
                <input type="text" class="form-control" placeholder="输入产品名称进行搜索" id="searchInput">
                <span id="search">
                        <i class="glyphicon glyphicon-search"></i>
                </span>
            </div>
            <a id="addButton" href="/group/admin/index.html#group/goods/edit" target="_blank">新增产品</a>
        </div>
        <div class="product_list clearfix">
            <div class="producr_item">
                <div class="priduct_image">
                    <img src="http://gzh.zonma.net/static/image/product/sszcxz.jpg" alt="">
                </div>
                <div class="product_hover">
                    <a href=""></a>
                    <a href=""></a>
                </div>
                <div class="product_info">珍藏细支
                </div>
            </div>
        </div>
        <div id="pagination"></div>
    </div>
</div>
<script>
    $(function(){
        var count=null,flag=false;
        layui.use('laypage', function(){
            var laypage = layui.laypage;

            //执行一个laypage实例
            function PageAjax(page,curr,keyword){
            var data ={};
                if(keyword){
                    data={page:page,limit:10,keyword:keyword}
                }else{
                    data={page:page,limit:10}
                }
                $.ajax({
                    url:'/group/Goods/get_goods_list',
                    type:"get",
                    data:data,
                    success:function(res){
                        $(".product_list").empty()
                        var str=""
                        if(res.count){
                            for(var i in res.info){
                                str+='<div class="producr_item">'+
                                    '<div class="priduct_image">'+
                                        '<img src="'+res.info[i].img_url+'" alt="">'+
                                    '</div>'+
                                    '<div class="product_hover">'+
                                        '<a target="_blank"  href="/group/admin/index.html#group/goods/edit?id='+res.info[i].id+'" >'+'<i class="iconfont icon-bianji" style="font-size: 30px; color: #fff;text-align:center;line-height:50px;">'+'</i>'+'</a>'+
                                        '<a class="delte" delteId="'+res.info[i].id+'">'+'<i class="iconfont icon-shanchu" style="font-size: 30px; color: #fff;text-align:center;line-height:50px;">'+'</i>'+'</a>'+
                                    '</div>'+
                                    '<div class="product_info">'+res.info[i].name+
                                    '</div>'+
                                '</div>'
                            }

                        }else{
                            str+='<p align="center">'+"暂无数据"+'</p>';
                        }
                        $(".product_list").append(str)
                        laypage.render({
                            elem: 'pagination' //注意，这里的 test1 是 ID，不用加 # 号
                            ,count: res.count ,//数据总数，从服务端得到,
                            curr:curr,
                            limit:10,
                            jump:function(res,first){
                                var searVal =$("#searchInput").val();
                                if(!first){
                                    if(searVal&&flag){
                                   PageAjax(res.curr,res.curr,searVal)
                                }else{  flag=false;
                                        PageAjax(res.curr,res.curr)

                                    }
                                }
//
                            }
                        });
                    },
                    error:function(err){
                        alert(JSON.stringify(err))
                    }
                })
            }
            PageAjax(1)
            //查询
            $("#search").on("click",function(){
                var searVal =$("#searchInput").val();
                if(!searVal){
                    layer.msg("请输入产品名称进行搜索")
                    return;
                }
                PageAjax(1,1,searVal)
                flag=true;
            })
            $("#searchInput").keyup(function(event){
                if(event.keyCode==13){
                    if(!$(this).val()){
                        layer.msg("请输入产品名称进行搜索")
                        return;
                    }
                    PageAjax(1,1,$(this).val())
                    flag=true;
                }

            })
            $(".product_list").on("click","a.delte",function(){
                var id =$(this).attr('delteId')
                layer.confirm("确定删除该产品?",{icon:7},function(index){
                    $.ajax({
                        type:"post",
                        dataType:"json",
                        data:{id:id},
                        url:"/group/goods/delete",
                        success:function(respone){
                            if(respone.status==1){
                                prompt("删除成功",4000);
                            }
                        },
                        error:function(res){
                            alert("删除失败")
                        }

                    })
                })
            })
//            $("#pagination").on("click","a",function(){
//                console.log(this)
//            })
//            $("#addButton").click(function(e){
//                e.preventDefault();
//                window.location.href="/admin/admin/index.html#admin/goods/edit"
//            })
            //提示
            function prompt(text,time){
                layer.open({
                    title:false,
                    btnAlign:"c",
                    content:"<p style='text-align:center;font-size:18px;'>"+text+"</p>",
                    time:time||6000,
                    shade:0.6,
                    end:function(){
                        history.go(0);
                        layer.closeAll();
                    }

                })
            }
        });
    })
</script>