<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {:widget('wx/Jssdk/getJssdk')}
</head>
<body>
<button onclick="start()">开始 </button>
</body>
</html>
<script type="text/javascript">
    function start(){
        wx.getLocation({
            type: 'wgs84',
            success : function(res) {
                var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
                var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
                // $("#latitude").val(latitude);
                // $("#longitude").val(longitude);
                alert('sdf');
                alert(latitude);
                alert(longitude);
            },
            error : function(res){
                alert("获取地理位置信息失败，请确认您的手机是否允许微信使用定位服务。");
            }
        });
    }
</script>