<div id="main_1511010745" class="box box-body" style="margin:0">
    <!-- 工具栏与搜索框 -->
    <div class="row">
        <div class="col-md-8 dd-toolbar"></div>
        <div class="col-md-4 dd-search">
            <!-- 快捷搜索表单 -->
            <form class="dd-quick input-group"></form>
            <!-- 更多搜索 -->
            <form class="dd-more form-inline">
                <div>账号<input name="account"></div>
                <div>昵称<input name="nickname"></div>
                <div>手机<input name="phone"></div>
                <div>开始<input name="start_time"></div>
                <div>结束<input name="end_time"></div>
            </form>
        </div>
    </div>
    <div class="row dd-table"></div><!-- 表格 -->
</div>
<!-- 添加与编辑 -->
<form id="form_1511010745" class="dd-form" style="display:none;" >
    <div>账号<input name="account" /></div>
    <div>昵称<input name="nickname" /></div>
    <div>手机号<input name="phone" /></div>
    <div>QQ号<input name="qq" /></div>
    <div>Email<input name="email" /></div>
    <div>头像<div>
        <input type="file" name="image">
        <span style="color:red">*文件大小不得超过20K，仅支持 jpg,jpeg,png</span>
        <input name="headimgurl" style="display:none">
    </div></div>
</form>
<?php get_js(); ?>