<style>
    .content_h2{
        border-bottom:2px solid #418BB8;
    }
    .status_content{
        background:#fff;
    }
    .status_content_box{
        width:96%;
        height:100%;
        margin:0 auto;
    }
    #searchForm{
        width:100%;
    }
    .form-inline{
        padding:10px 0;
    }
    .form-group{
        margin-right:20px;
        padding:5px 0;
    }
    .form-group label{
        margin-right:10px;
    }
    .form-group .form-control{
        width:150px;
    }
    .outer-select select,.form-group select{
        width:105px;
        height:34px;
        border-radius: 0;
        box-shadow: none;
        border-color: #d2d6de;
        margin-right:5px;
    }
    .form-inline button{
        float:right;
        padding:5px 30px;
        margin-top:3px;
    }
    .layui-table-page div{
        float:right;
    }
    #export{
        float:right;
        background:#3C8DBC;
        padding:10px 40px;
        border-radius:5px;
        border:none;
        outline: none;
        color:#fff;
        text-align:center;
        margin:50px 0 30px;
    }
    .layui-form-select{
        width:100px;
        margin-right:5px;
    }
    .layui-laypage-limits{
        display:none;
    }
    .layui-table-body{
        width:100%;
        overflow:hidden;
    }
    table.layui-table{
        width:100%;
    }
</style>
<div class="status_box content_box" >
    <h2 class="content_h2">实时监控</h2>
    <div class="status_content">
        <div class="status_content_box clearfix">
            <form class="form-inline" id="searchForm">
                <div class="form-group">
                    <label for="eq_code">设备编号</label>
                    <input type="text" class="form-control" id="eq_code" name="eq_code" placeholder="">
                </div>
                <div class="form-group">
                    <label for="goods_name">产品名称</label>
                    <input type="text" class="form-control" id="goods_name" name="goods_name" placeholder="">
                </div>
                <!--<div class="form-group outer-select layui-input-inline">-->
                <!--<label for="address">地址</label>-->
                <!--<div class="layui-input-inline">-->
                <!--<select name="province" id="province" >-->
                <!--&lt;!&ndash;<option value="请选择">广东</option>&ndash;&gt;-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="layui-input-inline">-->
                <!--<select name="city" id="city" >-->
                <!--&lt;!&ndash;<option value="请选择">广州市</option>&ndash;&gt;-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="layui-input-inline">-->
                <!--<select name="district" id="district"></select>-->
                <!--</div>-->
                <!--</div>-->

                <button type="button" class="btn btn-info">搜索</button>
            </form>
            <table class="layui-hide" id="status_table"></table>
            <!--<table class="layui-table" lay-data="{id:'tableId',height:472,url:'/admin/equipment/lists', page:{layout:false,groups:5,heme:'#367AB7',first:false
    ,last:false,prev:'<em>Previous</em>',next:'<em>Next</em>'},method:'post',response:{
                    statusName:'status',
                    statusCode:1,
                }}">
                <thead>
                <tr>
                    <th lay-data="{type:'checkbox'}"></th>
                    <th lay-data="{field:'code', width:140,align:'center'}">设备编号</th>
                    <th lay-data="{field:'province', width:80,align:'center'}">省</th>
                    <th lay-data="{field:'city', width:80,align:'center'}">市</th>
                    <th lay-data="{field:'district', width:80,align:'center'}">区县</th>
                    <th lay-data="{field:'address', width:150,align:'center'}">详细地址</th>
                    <th lay-data="{field:'status',width:100,align:'center',templet:'#statusTpl'}">设备状态</th>
                    <th lay-data="{field:'groove1', align:'center'}">槽1库存</th>
                    <th lay-data="{field:'groove2', align:'center'}">槽2库存</th>
                    <th lay-data="{field:'groove3', align:'center'}">槽3库存</th>
                    <th lay-data="{field:'groove4', align:'center'}">槽4库存</th>
                    <th lay-data="{field:'groove5', align:'center'}">槽5库存</th>
                    <th lay-data="{field:'groove6', align:'center'}">槽6库存</th>
                    <th lay-data="{field:'groove7', align:'center'}">槽7库存</th>
                </tr>
                </thead>
            </table>-->
            <!--<button id="export">导出数据</button>-->
        </div>

    </div>
</div>
<!--<script type="text/html" id="statusTpl">-->
<!--{{#  if(d.status === 1){ }}-->
<!--<span style="color: #87E76A;text-decoration: underline;">在线</span>-->
<!--{{#  } else { }}-->
<!--<span style="color: #D2D2D2;text-decoration: underline">离线</span>-->
<!--{{#  } }}-->
<!--</script>-->
<!--<script type="text/javascript" src="/plugin/city_select/city_select.js"></script>-->
<script>
    $(function(){
        /*layui.use(['form','table'], function(){
            var form = layui.form,table = layui.table;



           /!* table.reload('tableId',{
                url:"/admin/equipment/lists",page:{curr:1}
            })*!/

        });*/
        // new PCAS('province','city','district','--请选择省份--','--请选择城市--','--请选择地区--');
//        $("#export").on("click",function(){
//            window.location.href="/admin/equipment/export";
//        })
        layui.use('table', function(){
            var table = layui.table;
            table.render({
                elem: '#status_table'
                ,url:'/admin/equipment/monitorlist'
                ,cellMinWidth: 80
                ,cols: [[
                    {type:'checkbox'}
                    ,{field:'eq_code', minWidth:120, title: '设备编号',align:'center'}
//                    ,{field:'province',  title: '省',align:'center'}
//                    ,{field:'city',  title: '市',align:'center'}
//                    ,{field:'district',  title: '区县',align:'center'}
//                    ,{field:'address', minWidth:140, title: '详细地址',align:'center'}
//                    ,{field:'status', minWidth:100, title: '设备状态',align:'center',templet:'#statusTpl'}
                    ,{field:'nickname', title: '昵称',align:'center'}
                    ,{field:'groove_num', title: '卡槽号',align:'center',width:80}
                    ,{field:'goods_name', title: '产品名称',align:'center'}
                    ,{field:'create_time',  title: '时间',align:'center'}

                ]]
                ,page:{layout:false,groups:5,heme:'#367AB7',first:false
                    ,last:false,prev:'<em>Previous</em>',next:'<em>Next</em>'}
                ,response:{
                    statusName:'status',
                    statusCode:1,
                },
                height:487,
                method:'post',
                id:'tableId',
                done:function(){
                    $(".layui-table-body.layui-table-main").height("408px");
                }
            });
            //搜索设备
            $("#searchForm button").click(function(){
                var searData =$("#searchForm").serialize();
                table.reload('tableId',{
                    url:"/admin/equipment/monitorlist",page:{layout:false,groups:5,heme:'#367AB7',first:false
                        ,last:false,prev:'<em>Previous</em>',next:'<em>Next</em>'},where:{"eq_code":$("#eq_code").val(),"goods_name":$("#goods_name").val()}
                });

            })
        });
    });


</script>