{extend name='common@public/base'}
{block name="content"}
<body class="hold-transition login-page" style="background-image:url(/static/image/admin/44661ede2d8c7e19be8ff811841f24be.jpg)">
<div class="login-box">
<!--   <div class="login-logo">
    <a><b>内容管理系统</b></a>
  </div> -->
  <!-- /.login-logo -->
  <div class="login-box-body">
      <div class="login-logo">
    <span><b>内容管理系统</b></span>
  </div>
    <!-- <p class="login-box-msg">请输入登录信息</p> -->

<form id="user_info">
      <div class="form-group has-feedback">
        <input name="account" class="form-control" placeholder="账号">
        <span class="fa fa-user-circle form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input name="password" type="password" class="form-control" placeholder="密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
            
            <img id="code_img" src="/captcha.html?0.501799531878075" onclick="get_code()" alt="captcha" style="width:100%;cursor:pointer;">
    
      </div><div class="row" style="margin-bottom:10px">
        <div class="col-xs-8">
          <input id="code" name="code" class="form-control" placeholder="验证码" style="width:100%;display:inline;margin-right:10px">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="button" class="btn btn-primary btn-block btn-flat captcha_change" onclick="get_code()">换一张</button>
        </div>
        <!-- /.col -->
      </div>
      
    <div class="form-group has-feedback">
            <button id="login" type="button" class="btn btn-primary btn-block btn-lg btn-flat">登录</button>
      </div>
</form>
  </div>
</div>
</body>
{/block}
{block name="script"}
<script>
    $(function () {
        //登录
        $('#login').click(function (){
            login_verify();
        })
    });
    console.log($('#user_info').serialize());
    //登录验证
    function login_verify(){
        $.post('{:url("admin/login/login_verify")}',$('#user_info').serialize(),function (data){
            layer.msg(data.info);
            if(data.status==1){
                window.location.href=data.data;
            }else{
              get_code();
            }
        },'json');
    }
    //获取验证码
    function get_code(){
        $('#code_img').prop('src','/captcha.html?'+Math.random());
        $('#code').val('');
    }
    $("#code").keydown(function (){
        if(window.event.keyCode == 13) {   
           login_verify();
        }
    });
</script>
{/block}